body {
    padding-top: 5rem;
}

main{
    background-color: rgb(235, 243, 250);
}

.card{
    width: 90%;
    border-radius: 20px;
}
    
.container{
    padding: 4px 16px;
}

.container h3{
    padding-top:3px;
}
    
.space{
    padding-top: 5%;
    padding-right: 3%;
    display: flex;
}
    
.space img{
    width: 20%;
    margin-left: 5%;
}
    
.spacetext{
    padding-left: 10%;
}
    
.spacetext img{
    width: 5%;
}

.spacetext p img{
    width: 15%;
}
    
button {
    display:inline;
    border-radius: 4px;
    padding: 2% 2%;
    position: relative;
}