body {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

main{
    background-color: rgb(235, 243, 250);
    
}

header{
    padding-bottom:7px;
}

.card{
    width: 90%;
    border-radius: 10px;
    border-top-color: rgb(93, 188, 210);
    border-top-width: 10px;
 
}
    
#container{
    padding: 4px 16px;
}

#container h3 {
    padding-top:3px;
    color: grey;
    
}

#container p{
    color: grey;
}

.container{
    align-items: center;
    padding-top: 50px;
}

.container.h1{
    padding-top: 3px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-size{
    width: 30%;
}

#profile{
    width: 70%;
    justify-content: center;
}
    
.space{
    padding-top: 5%;
    padding-right: 3%;
    display: flex;
}
    
.space img{
    width: 20%;
    margin-left: 5%;
}
    
.spacetext{
    padding-left: 10%;
}

.spacetext h5{
    font-weight: bold;
}

.spacetext p{
    color: grey;
}
    
.spacetext img{
    width: 5%;
}

.spacetext p img{
    width: 15%;
}

.align-center{
    text-align:center;
    /*display: flex;*/
    padding-bottom: 35px;
}

.increase-button{
    width: 30%;
}
.increase-button2{
    width: 170%;
}

 .button {
    /*width: 50%;*/
    /*height: 80%;*/
    padding-right: 5px;
    font-size: 16px;
   
}

.form-group{
    font-weight: bold;
    width: 60%;
    padding-left: 7%;
}

.addprobtn{
    /*padding-top: 40px;*/
    padding-left: 7%;
    justify-content: space-around;
}

.form-control{
    padding: 0;
    margin:0;
}

form{
    padding:10px 10px;
}

textarea {
    height: 200px;
    width: 100px;
}

.custom-file-input{
    position: relative;
}






