{% extends "base.html" %}

<script type="text/javascript" src="app.js"></script>

{% block main %}

     <div class="card mb-3" style="max-width: 540px;">
           
        <div class="row no-gutters">
              
              <div class="col-md-4">
                
                <img src="{{ url_for('static', filename= people.photo)}}" class="card-img" alt="personal picture"/>
                
           
       <div class="col-md-8">
            
         <div class="card-body">
              
           <h5> {{ people.first_name }} {{ people.last_name }} </h5>
              
             <p><img src="{{ url_for('static', filename='./genloc_images/mail_img.PNG') }}" alt="gender image"> {{people.gender}} </p>
              
             <p><img src="{{ url_for('static', filename='./genloc_images/location_img.PNG') }}" alt="location image"> {{people.location}} </p>
             
              <p><img src="{{ url_for('static', filename='./genloc_images/calendar_img.PNG') }}" alt="date joined image"> {{people.user_created}} </p>
              
              <div class="buttons">
                  
                <a href="#" class="btn btn-success">Send Message</a>
                
                <a href="#" class="btn btn-primary">Follow/a>
                
                </div>
            </div>
            
          </div>
          
        </div>
        
      </div>  
      
    </div>



{% endblock %}