{% extends "base.html" %}

{% block main %}

<div style="height:100vh;">

    <div class="card" id="card" >
        
        <div class="space">
            <img src="{{ url_for('static', filename= people.photo) }}" alt="profile picture"/>
            
            <div class="spacetext">
                <p><h5> {{ people.first_name }} {{ people.last_name }} </h5></p>
                <p><img src="{{ url_for('static', filename='./genloc_images/mail_img.PNG') }}" alt="gender image"> {{people.gender}} </p>
                <p><img src="{{ url_for('static', filename='./genloc_images/location_img.PNG') }}" alt="location image"> {{people.location}} </p>
                <p><img src="{{ url_for('static', filename='./genloc_images/calendar_img.PNG') }}" alt="date joined image"> Joined on {{month}} {{day}} {{year}} </p>
                
            </div>
        </div>
        
        <div id="container">
            <h3>About Me</h3>
            <p>{{ people.biography }}</p>
            
        </div>
        
        <div class="align-center">
            <button type="submit" name="submit" class="btn btn-success increase-button">Send Message</button>
            <button type="submit" name="submit" class="btn btn-primary increase-button">Follow</button>
        </div>
        
        
        
        
    </div> 
</div>

   



{% endblock %}