{% extends "base.html" %}

{% block main %}

    <div class="card">
        
        <div class="space">
            <img src="{{ url_for('static', filename= people.photo) }}" alt="profile picture"/>
            
            <div class="spacetext">
                <p><h5> {{ people.first_name }} {{ people.last_name }} </h5></p>
                <p><img src="{{ url_for('static', filename='./genloc_images/mail_img.PNG') }}" alt="gender image"> {{people.gender}} </p>
                <p><img src="{{ url_for('static', filename='./genloc_images/location_img.PNG') }}" alt="location image"> {{people.location}} </p>
                <p><img src="{{ url_for('static', filename='./genloc_images/calendar_img.PNG') }}" alt="date joined image"> {{people.user_created}} </p>
                
            </div>
        </div>
        
        <div class="container">
            <h3>About Me</h3>
            <p>{{ people.biography }}</p>
            
        </div>
        
        <div class="buttons">
            <button type="submit" name="submit">Send Message</button>
            <button type="submit" name="submit">Follow</button>
        </div>
        
        
        
        
    </div>    

    <!-- <div class="card">-->
           
    <!--    <div class="row no-gutters">-->
              
    <!--            <img src="{{ url_for('static', filename= people.photo)}}" class="card-img" alt="personal picture"/>-->
                
           
    <!--   <div class="col-md-8">-->
            
    <!--     <div class="body">-->
              
    <!--         <h5> {{ people.first_name }} {{ people.last_name }} </h5>-->
              
    <!--         <p><img src="{{ url_for('static', filename='./genloc_images/mail_img.PNG') }}" alt="gender image"> {{people.gender}} </p>-->
              
    <!--         <p><img src="{{ url_for('static', filename='./genloc_images/location_img.PNG') }}" alt="location image"> {{people.location}} </p>-->
             
    <!--         <p><img src="{{ url_for('static', filename='./genloc_images/calendar_img.PNG') }}" alt="date joined image"> {{people.user_created}} </p>-->
             
    <!--         <h3>About</h3>-->
             
    <!--         <p>{{ people.biography }}</p>-->
              
    <!--          <div class="buttons">-->
                  
    <!--           <button type="submit" name="submit" class="btn btn-success btn-block">Send Message</button>-->
                
    <!--           <button type="submit" name="submit" class="btn btn-primary btn-block">Follow</button>-->
                
    <!--            </div>-->
    <!--        </div>-->
            
    <!--      </div>-->
          
    <!--    </div>-->
        
    <!--  </div>  -->
      
    <!--</div>-->



{% endblock %}