{% extends "base.html" %}

{% block main %}
    <h1>Profiles</h1>
    
    <style type="text/css">
    </style>
    
    
    
    {% for people in users %}
    <div style="height:20%;" >
         <div class="card mb-3" style="max-width: 750px;">
           
            <div class="row no-gutters">
              
              <div class="col-md-4">
                
                <img  src="{{ url_for('static', filename= people.photo)}}" class="card-img" alt="personal picture"/>
                
              </div>
              
            <div class="card-size">
            <div class="card-body">
              
              <h5> {{ people.first_name }} {{ people.last_name }} </h5>
              
              <p><img src="{{ url_for('static', filename='./genloc_images/gender_img.PNG') }}" alt="gender image"> {{people.gender}} </p>
              
              <p><img src="{{ url_for('static', filename='./genloc_images/location_img.PNG') }}" alt="location image"> {{people.location}} </p>
              
            </div>
            </div>
            
              
             <div id="button">
              
              <a href= "{{ url_for('individualPros',userid=people.id) }}"> <button type="submit" name="submit" class="btn btn-success increase-button2">View Profile</button></a>
              
            </div>
              
            </div>
          
          
        </div>
    </div>
        
      
    {% endfor %}
    
{% endblock %}